@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  @apply font-montserrat;
  height: 100%;
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 93%;
    --foreground: 81 5% 10%;
    --card: 81 50% 90%;
    --card-foreground: 81 5% 15%;
    --popover: 81 100% 95%;
    --popover-foreground: 81 100% 10%;
    --primary: 81 63% 62%;
    --primary-foreground: 81 58% 34%;
    --secondary: 252 77% 83%;
    --secondary-foreground: 285 57% 36%;
    --muted: 43 30% 85%;
    --muted-foreground: 81 5% 35%;
    --accent: 43 30% 80%;
    --accent-foreground: 81 5% 15%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 81 5% 90%;
    --border: 81 30% 50%;
    --input: 0 0% 5%;
    --ring: 81 62.9% 62%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 9%;
    --card: 81 50% 10%;
    --card-foreground: 81 5% 90%;
    --popover: 81 50% 5%;
    --popover-foreground: 81 5% 90%;
    --primary: 81 63% 62%;
    --primary-foreground: 81 58% 34%;
    --secondary: 252 77% 83%;
    --secondary-foreground: 285 57% 36%;
    --muted: 43 30% 25%;
    --muted-foreground: 81 5% 60%;
    --accent: 43 30% 25%;
    --accent-foreground: 81 5% 90%;
    --destructive: 0 0% 15%;
    --destructive-foreground: 81 5% 90%;
    --border: 81 30% 26%;
    --input: 0 0% 82%;
    --ring: 81 62.9% 62%;
    --radius: 0.5rem;
  }
}
